<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor:pointer;"
          *ngFor="let shelter of shelters; let i = index"
          (click)="onEditShelter(i)"
        >
          <h5>{{ shelter.name }}</h5>
          <br />
          {{ shelter.street }} {{ shelter.city }} {{ shelter.zip }}
          <br />
          {{ shelter.email }}
          <br />
          {{ shelter.url }}
          <br />
          {{ shelter.phone }}
        </a>
      </ul>
    </div>
    <div class="col-sm-6" *ngIf="authService.isAuthenticated()">
      <app-shelter-edit></app-shelter-edit>
    </div>
  </div>
</div>
