<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/" >Pet Adoption Site</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/adoptees" routerLinkActive="active">Adoptees</a>
      <a class="nav-item nav-link" routerLink="/shelters" routerLinkActive="active">Shelters</a>
      <a class="nav-item nav-link">Contact</a>
      <a class="nav-item nav-link" routerLink="/signup" routerLinkActive="active">Register</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/conniehirsch" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/conniehirsch" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-outline-primary" (click)="onSaveData()">Save Data</button>
        <button class="btn btn-outline-success" (click)="onFetchData()">Fetch Data</button>
      </ul>
    </div>
  </div>
</nav>
