<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand nav-item nav-link" routerLink="/splash" >Pick A Pet</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/adoptees" routerLinkActive="active">Adoptees</a>
      <a class="nav-item nav-link" routerLink="/shelters" routerLinkActive="active">Shelters</a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </div>
  </div>
</nav>
