.row {
  background-color: aquamarine;
}

h3 {
  margin-left: 10px;
}
p {
  margin-left: 20px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
}
