<form>
  <div class="row">
    <div class="col-md-10 form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" #nameInput />
    </div>
    <div class="col-md-10 form-group">
      <label for="name">Street Address</label>
      <input type="text" id="street" class="form-control" #streetInput />
    </div>
    <div class="col-md-10 form-group">
      <label for="name">City</label>
      <input type="text" id="city" class="form-control" #cityInput />
    </div>
    <div class="col-md-10 form-group">
      <label for="name">State</label>
      <input type="text" id="state" class="form-control" #stateInput />
    </div>
    <div class="col-md-10 form-group">
      <label for="name">Zip</label>
      <input type="text" id="zip" class="form-control" #zipInput />
    </div>
    <div class="col-md-10 form-group">
      <label for="name">Phone</label>
      <input type="tel" id="phone" class="form-control" #phoneInput />
    </div>
    <div class="col-md-10 form-group">
      <label for="name">Email</label>
      <input type="email" id="email" class="form-control" #emailInput />
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
      <button class="btn btn-danger" type="button">Delete</button>
      <button class="btn btn-warning" type="reset">Clear</button>
    </div>
  </div>
</form>
