<ngb-carousel
  *ngIf="adoptees"
  [showNavigationIndicators]="showNavigationIndicators"
>
  <ng-template ngbSlide *ngFor="let adoptee of adoptees; let i = index">
    <div class="center-block mt-2">
      <img
        [src]="adoptee.imagePath"
        alt="adoptable pet: {{ adoptee.name }}"
        class="img-fluid rounded mx-auto d-block h-100"
        style="max-width: 100%;"
      />
      <div class="carousel-caption mb-5">
        <h4>{{ adoptee.name }}</h4>
      </div>
    </div>
    <div class="mx-auto mt-2" style="text-align: center;">
      <p class="text-truncate mx-auto mt-3" style="max-width: 100%;">
        {{ adoptee.description }}
      </p>
      <!-- <textarea
        name="desc"
        id="desc"
        cols="30"
        rows="2"
        disabled
        class="mx-auto mt-3"
      >
        {{ adoptee.description }}</textarea
      > -->
      <button
        class="btn btn-outline-success mx-auto mt-3"
        (click)="onPickAdoptee(i)"
        type="button"
      >
        More about {{ adoptee.name }}
      </button>
    </div>
  </ng-template>
</ngb-carousel>
