<ngb-carousel
  *ngIf="adoptees"
  [showNavigationIndicators]="showNavigationIndicators"
>
  <ng-template ngbSlide *ngFor="let adoptee of adoptees; let i = index">
    <div class="carousel-body">
      <p
        class="mx-auto text-truncate"
        style="max-width: 80%;  padding-top: 30px;"
      >
        {{ adoptee.description }}
      </p>

      <div class="center-block mt-2">
        <img
          [src]="adoptee.imagePath"
          alt="adoptable pet: {{ adoptee.name }}"
          class="img-fluid rounded mx-auto d-block h-100"
          style="max-width: 100%;"
        />
        <div class="carousel-caption mb-3">
          <h4>{{ adoptee.name }}</h4>
        </div>
      </div>
      <div class="mx-auto" style="text-align: center;">
        <button
          class="btn btn-success mx-auto mt-3"
          (click)="onPickAdoptee(i)"
          type="button"
        >
          Learn more about {{ adoptee.name }}
        </button>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
