<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" disabled>New Adoptee</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Adoptee Name</h4>
        <p class="list-group-item-text">Description of Adoptee</p>
      </div>
      <span class="pull-right">
        <img src="" alt="" class="img-responsive" style="max-height: 50px;" />
      </span>
    </a>
    <app-adoptees-item></app-adoptees-item>
  </div>
</div>
