<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="adopteeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit"
          [disabled]="!adopteeForm.valid">Save</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Image URL</label>
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="imagePath.value" class="img-responsive"> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" id="type" class="form-control" formControlName="type">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="breed">Breed</label>
            <input type="text" id="breed" class="form-control" formControlName="breed">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="shelter">Shelter</label>
            <input type="text" id="shelter" class="form-control" formControlName="shelter">
          </div>
        </div>
      </div>
            <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" id="age" class="form-control" formControlName="age">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
