<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ adoptee.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Do Stuff
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Go to Shelter Listing</a></li>
        <li><a href="#">Edit Adoptee</a></li>
        <li><a href="#">Delete Adoptee</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Adoptee Description</p>
    <p>Other Adoptee Data</p>
  </div>
</div>
