<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-warning"  type="button" (click)="onEditAdoptee()">Edit Adoptee</button>
      <button class="btn btn-danger" type="button">Delete Adoptee</button>
      <button class="btn btn-success" type="submit">Go to Shelter Listing</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <img src="{{ adoptee.imagePath}}" alt="{{ adoptee.name }}" class="img-responsive" />
  </div>
  <div class="col-xs-8">
    <h1>{{ adoptee.name }}</h1>
    <hr>
    <p>{{ adoptee.type }}: {{ adoptee.breed }}, {{ adoptee.age }} years</p>
    <hr>
    <p>{{ adoptee.description }}</p>
  </div>
</div>



<div class="row">
  <div class="col-xs-12">
  </div>
</div>
