/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
  color: green;
  background-color: aliceblue;
}

.show-class {
  visibility: visible;
}

.hide-class {
  visibility: hidden;
}

.navbar-small {
  font-size: 0.8rem;
}
.navbar-regular {
  font-size: 1rem;
}
